doctype html
html
    head
        include ../partials/head.pug
    body
        include ../partials/nav.pug

        .container.mb-3
            .jumbotron
                h1 My Website
                p Welcome to my website!