doctype html
html
    head
        include ../partials/head.pug
    body
        include ../partials/nav.pug

        .container.mb-3
            h3.mb-3 Users

            ul.list-group
                if (users == null || users.length == 0)
                    li.list-group-item There is no user yet.
                each user in users
                    li.list-group-item
                        a(href="/users/"+user.username)= user.username